.section {
  margin-top: 20px;
}
.container {
  width: 100%;
  max-width: 1270px;
  padding: 0 15px;
  margin: 0 auto;
  height: 450px;
}
.thumbnail {
  border-radius: 8px;
  overflow: hidden;
  height: 450px;
  width: 100%;
  object-fit: cover;
  object-position: center;
}
