.thumbnail {
  border-radius: 10px;
  overflow: hidden;
  aspect-ratio: 16/9;
  background-color: #333;
}
.title {
  margin-top: 10px;
  height: 47.6px;
  background-color: #333;
  border-radius: 4px;
}
.description {
  margin-top: 10px;
  height: 38px;
  background-color: #333;
  border-radius: 4px;
}
