.navbar {
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.left {
  display: flex;
  align-items: center;
  gap: 0 40px;
}
.logo {
  font-size: 20px;
  font-weight: 800;
  text-transform: uppercase;
  color: var(--purple);
}
.links {
  display: flex;
  gap: 0 10px;
  align-items: center;
}
.link {
  display: inline-block;
  padding: 8px;
  color: white;
  transition: all 0.2s linear;
  position: relative;
  font-weight: 500;
  font-size: 1.6rem;
  &:hover {
    color: var(--purple);
  }
}
.searchBox {
  @media screen and (max-width: 767.98px) {
    display: none;
  }
}
.searchIcon {
  @media screen and (min-width: 1024px) {
    display: none;
  }
}
