@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");

:root {
  --purple: #995aff;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Inter", sans-serif;
  background-color: #1b1b1b;
  color: white;
  font-size: 1.4rem;
}
.container {
  width: 100%;
  max-width: 1270px;
  padding: 0 15px;
  margin: 0 auto;
}
