@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,700;1,400&display=swap");

:root {
  --dark: #080f28;
  --purple: #995aff;
  --gradient-purple: linear-gradient(270deg, #c042ff, #8a3cff);
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Montserrat", sans-serif;
  background-color: #080f28;
  color: white;
  font-size: 1.6rem;
}
.container {
  width: 100%;
  max-width: 1270px;
  padding: 0 15px;
  margin: 0 auto;
}
.scrollbar {
  &::-webkit-scrollbar {
    width: 6px;
  }
  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }
  &::-webkit-scrollbar-thumb {
    background-image: linear-gradient(-45deg, #6a5af9, #d66efd);
    border-radius: 50px;
  }
}
.searchBox-large {
  margin-top: 30px;
  max-width: 600px !important;
  height: 46px !important;
  margin-left: auto;
  margin-right: auto;
}
.text-gradient {
  color: transparent;
  background-clip: text;
}
.layout-watch {
  display: flex;
  gap: 20px;
  padding-top: 30px;
  @media screen and (max-width: 1023.98px) {
    flex-direction: column;
  }
}
.layout-watch-main {
  width: 100%;
  max-width: 880px;
}
.layout-watch-sub {
  flex: 1;
}

.auth {
  min-height: 100vh;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-image: url("/background-auth.png");
  &::after {
    content: "";
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1;
  }
}
.auth-container {
  position: relative;
  max-width: 500px;
  padding: 50px 60px;
  background-color: var(--dark);
  border-radius: 10px;
  z-index: 2;
}
.auth-main {
  margin-top: 30px;
}
.auth-primary {
  color: white;
  font-weight: 700;
  border-radius: 6px;
  border: 1px solid #8a3cff;
  background-image: var(--gradient-purple);
}
.auth-button {
  position: relative;
  width: 100%;
  padding: 12px;
  border-radius: 6px;
  line-height: 2.4rem;
  font-weight: 600;
  margin: 7px 0;
  img {
    position: absolute;
    top: 50%;
    left: 10px;
    height: 30px;
    width: 30px;
    transform: translateY(-50%);
  }
}
.auth-other {
  margin: 7px 0;
  text-align: center;
}
.auth-other span {
  position: relative;
  &:before,
  &:after {
    content: "";
    position: absolute;
    top: 50%;
    border: 1px solid #9692c7;
    width: 88px;
  }
  &::before {
    left: 30px;
  }
  &:after {
    right: 30px;
  }
}
.auth-facebook {
  color: white;
  background-color: #404eed;
}
.auth-google {
  background-color: white;
}
.already-account {
  padding-top: 20px;
  text-align: center;
  a {
    color: blue;
  }
}
@media screen and (max-width: 767.98px) {
  .auth-container {
    max-width: 100%;
    padding: 40px 20px;
  }
}
