.heading {
  margin-top: 14px;
  font-size: 2.3rem;
}
.layout {
  display: flex;
  gap: 20px;
  @media screen and (max-width: 1023.98px) {
    flex-direction: column;
  }
}
.layoutMain {
  width: 100%;
  max-width: 880px;
}
.layoutSidebar {
  flex: 1;
  position: relative;
  max-height: 495px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-right: 4px;
  @media screen and (max-width: 767.98px) {
    max-height: 280px;
  }
}
.meta {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  padding-top: 5px;
  padding-bottom: 2px;
  @media screen and (max-width: 767.98px) {
    flex-direction: column;
    align-items: flex-start;
    padding-top: 10px;
    padding-bottom: 6px;
  }
}

.notification {
  font-size: 1.4rem;
  text-align: center;
  color: var(--purplec4);
}
.form {
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  input {
    color: white;
    background-color: transparent;
    border: none;
    border: 1px solid var(--purple);
    border-radius: 4px;
    padding: 8px 16px;
    width: 100%;
  }
}
